/* Configuração inicial */
*
{
    margin: opx;
    padding: opx;
}

/* classes do top */
.top_logo
{
    max-width: 200px; /*impedir que a imagem ultrapasse das limitações da div */
    max-height: 150px; /*impedir que a imagem ultrapasse das limitações da div */
}

/* classes do top-descontos */
.top_descontos
{
    padding-top: 0px;
    height: 130px; 
    text-align: center;
}
.top_descontos_d1
{
    margin-top: 40px;
}
.top_descontos_d2
{
    background-color: red;
}
.top_descontos_d3
{
    background-color: black;
}

/* classes testes */
.teste1
{
    background-color: red;
    height: 150px;
}
.teste2
{
    background-color: blue;
    height: 150px;
}
.fonte_teste
{
    /* font-family: FontAwesome; */
    /* font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family:Arial,Baskerville,monospace;
}
