/*
ANOTAÇÃO

cores->
    #ff084e
    #585656

*/
/* Configuração inicial */
@import '../css/font-awesome.min.css';
@import '../css/themify-icons.css';
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    /* font-family: FontAwesome; */
    /* font-family: 'themify'; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    /* font-family: Arial,Baskerville,monospace; */
    font-weight: 400; /* aumenta a grossura das letras */
}
.body_config
{
    background-color: rgb(16, 16, 16);
    color: #e4e4e4;
}
h1,h2,h3,h4,h5,h6 
{
    /* color: #b3b1b1; */
    line-height: 1.2;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    /* font-family: Arial,Baskerville,monospace; */
    font-weight: 700;
}
.navbar-expand .navbar-nav .nav-link 
{
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
    color: #b3b3b3;
}
.navbar-expand .navbar-nav .nav-link:hover
{
    color: #ff084e;
    transition: 350ms;
}

/* classes de Icones */
.icone_carrinho
{
    font-size: 20px;
    
    /* 
    link de tags:
    https://yookits.com/demo/materialx-pro/icons/themify-icons.html

    ti-power-off  icone de DESLIGAR (logoff)
    ti-shift-right  icone de SAIR (logoff)
    ti-user  icone de Usuario (login)
    ti-trash  icone de LIXO (excluir)
    ti-headphone-alt  icone de CONTATO (headset)

    */
}
.icone_login
{
    font-size: 25px;
}
.icone_logoff
{
    font-size: 30px;
}
.icone_redes
{
    font-size: 20px;
    margin-right: -100px;
    padding: 0 10px;
}

/* classes de Login */
.pos_login
{
    background-color: #585656;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 80px;
}
.pos-input-login
{
    margin-left: 20px;
}


/* classes do top */
.top
{
    height: 150px; 
}
.pos_logo /* classe que dita as diretrizes da div, limitando o espaço controlorá qual será o tamanho da imagem */
{
    max-width: 200px; /*impedir que a imagem ultrapasse das limitações da div */
    max-height: 150px; /*impedir que a imagem ultrapasse das limitações da div */
}
.top_nav
{
    margin-top: 45px;
    font-weight: 400;
    text-transform: uppercase; /* deixa o texto em caps lock */
}
#msg_compartilhe
{
    left: 490px;
}
#msg_hot
{
    left: 33px;
}
.msg /* karl */
{
    position: absolute;
    /* z-index: 2; */
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff084e;
    padding: 3px 10px;
    top: -15px;
}
.msg:after  /* karl */
{
    position: absolute;
    /* z-index: 2; */
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #ff084e transparent;
    bottom: -2px;
    left: -6px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

  

/* classes do top-descontos */
.top_descontos /* classe que caracteriza todas células de descontos */
{
    height: 130px;
    /* text-align: center; */
}
.top_descontos h5
{
    color: #fff; 
    font-size: 20px;
}
.top_descontos h6
{
    color: #fff; 
    font-size: 12px;
}
.top_descontos_d1 /* classe que caracteriza apenas a 1º célula dos descontos */
{
    margin-top: 40px;
}
.top_descontos_d1 a
{
    color: #ff084e;
}
.top_descontos_d2 /* classe que caracteriza apenas a 2º célula dos descontos */
{
    margin-top: 40px;
}
.top_descontos_d3 /* classe que caracteriza apenas a 3º célula dos descontos */
{
    margin-top: 40px;
}

/* classes do mid-cardapio */
.mid
{
    margin-top: 100px;
}
.titulo-cardapio_mid
{
    text-transform: uppercase; /* deixa o texto em caps lock */
}
.titulo-cardapio_mid h1
{
    font-size: 50px;
}
.catalogo_mid
{
    background-color: #383333;
} 








/* classes dos detalhes dos produtos DP*/
.estrelas_dp
{
    text-decoration: none;
    color: rgb(219, 170, 9);
}
.estrelas_dp:hover
{
    color: rgb(170, 131, 3);
}

.img_pos_dp /* posicionamento da imagem do produto */
{
    background: #3a3a3a;
    height: 500px;
    width: 635px;
}
.imgs-list_dp
{
    background-color: red;
    height: 100px;
    width: 150px;
    float: left;
    text-align: center;
    line-height: 100px;
    margin-top: 15px;
    margin-left: 7px;
}

.quantidade-config_dp /* Configuração geral da area do botao 'quantidade' */
{
    width: 130px;
}
.quantidade-config_dp span /* muda a configuração de cores da borda dos botoes 'bttmenos' e 'bttmais' */
{
    background-color: #585656;
    border-top-color: #585656;
    border-bottom-color: #585656;
}
.btt-MaisMenos_dp /* Retira a decoração padrao do botao */
{
    text-decoration: none;
    box-shadow: inherit;
    color: black;
}
.btt-MaisMenos_dp:hover
{
    color: #a30935;
    transition: 200ms;
}

#bttMais /* muda a cor esquerda da borda do botao 'bttmais' */
{
    border-left-color: #585656;
}
#bttMenos /* muda a cor direita da borda do botao 'bttmenos' */
{
    border-right-color: #585656;
}

/* Retira setas de numero do input no navegador Firefox */
#txtqtd /* #txtqtd pode não ser trocado por uma classe mas sim por input[type=number] */
{
    -moz-appearance: textfield;
    appearance: textfield;

    background-color: #bdbdbd; /* muda a cor de fundo do input de quantidade */
    box-shadow: inherit; /* retira o sombreamento quando o input está ativo */
}
/* '::-webkit-outer-spin-button,::-webkit-inner-spin-button' Retira setas de numero do input no navegador Chrome, Safari, Edge, Opera */
#txtqtd::-webkit-outer-spin-button,::-webkit-inner-spin-button /* #txtqtd pode ser trocado por uma classe */
{
    -webkit-appearance: none;
}
/* 
.testInput::-webkit-outer-spin-button,::-webkit-inner-spin-button 
{
    -webkit-appearance: none; 
} 
*/

.btt-addCart_dp
{
    background-color: #ff084e;
    border: medium none;
    color: rgb(231, 230, 230);
    font-size: 14px;
    height: 40px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
    border-radius: 0;

}
.btt-addCart_dp:hover
{
    background-color: #e00040;
    color: #fff;
}

.btt-opcoes_dp
{
    font-size: 14px;
    text-transform: uppercase;
}
.titulo_dp
{
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.btt-opcoes_dp ul
{
    padding: 0px;
}
.btt-opcoes_dp li
{
    display: inline-block;
}

.btt-opcoes_dp a
{
    border: 2px solid #b3b3b3;
    padding: 10px;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    color: #d6d3d3;
}
.btt-opcoes_dp a:hover,btt-opcoes_dp a:focus
{
    background-color: #ff084e;
    color: rgb(26, 26, 26);
    border-color: #ff084e;
    transition: 500ms;
    border-radius: 2px;
}

.acordeao-item_dp /* Muda a cor do Acordeao quando desativado */ 
{
    background-color: rgb(99, 90, 94);
}
.acordeao-btt_dp /* Muda a cor do botao do Acordeao quando desativado */
{
    background-color: rgb(49, 47, 48);
}
.accordion-button /* Retira a mudança de tamanho do Acordeao */
{
    font-size: inherit;
    
}
.accordion-item /* Muda a cor da borda Acordeao */
{
    border: 1px solid #818181;
}
.accordion-button:not(.collapsed) /* Muda a cor do Acordeao quando ativo */
{
    color: inherit;
    background: #3a3a3a;
    color: #b3b3b3;
}
.accordion-button:not(.collapsed)::after  /* Muda a cor da seta do Acordeao para preto ou branco */
{
    filter: brightness(0%) invert(90%);
}
.accordion-button:focus
{
    box-shadow: inherit;
}




/* classes dos Carrinho*/
.top-table_cart
{
    background-color: #44353b;
    border-bottom-color: #e00040;
    color: #ffffff;
}
.body-table_cart
{
    /* background-color: #44353b; */
    color: #d3cece;
    border-bottom-color: #e00040;
    /* line-height: 100px; */
}
.img-table_cart
{
    background-color: blue;
    width: 150px;
    height: 100px;
}
.input-qtd_cart
{
    width: 60px;
    height: 30px;
    text-align: center;
}
.btt-qtd_cart
{
    width: 40px;
    height: 30px;
    background-color: #585656;
    border-bottom-color: #585656;
    border-top-color: #585656;
}
.bttMais /* muda a cor esquerda da borda do botao 'bttmais' */
{
    border-left-color: #585656;
}
.bttMenos /* muda a cor direita da borda do botao 'bttmenos' */
{
    border-right-color: #585656;
}




/* classes dos Formulario produto*/
.input_formP 
{
    background-color: #3a3a3a;
}
.input_formP input, textarea, select
{
    background-color: #989898;
    border-color: #a30935;
}

















/* classes testes */
.teste
{
    background-color: blue;
}
.teste1
{
    background-color: red;
    height: 500px;
}
.teste2
{
    background-color: blue;
    height: 150px;
}
.fonte_teste
{
    /* font-family: FontAwesome; */
    /* font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family:Arial,Baskerville,monospace;
}


.cart_quantity {
    background-color: #ff084e;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 20px;
    width: 20px;
    /* z-index: 2; */
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 600;
}



/* CLASSES SLIDER AINDA NAO TESTEI */
/* eu acho que o slider é feito totalmente em CSS é apenas analisar as classes da tela slider que vc ja vai entender */

.karl-btn {
    display: inline-block;
    min-width: 170px;
    height: 55px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 2px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 49px;
}

.karl-btn:hover,
.karl-btn:focus {
    font-weight: 700;
    color: #fff;
    background-color: #ff084e;
    border-color: #ff084e;
}
/* FIM CLASSES SLIDER AINDA NAO TESTEI */
